/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Навигационная панель */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

/* Стили для формы */
form {
    max-width: 400px;
    margin: 0 auto;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Стили для списка товаров */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Медиа-запрос для адаптивности */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
